  @media (max-width: 600px) {
      .detail {
          display: flex;
          flex-direction: column;
      }
      .detail img{
        min-width: 80vw
    }

    .detail button {
      position: relative;
      right: 20%;
      min-width: 40%;
  }   
  }

  .detail img{
      width: 35vw
  }

  .detail h4 {
      font-weight: bold;
      font-size: 60px ;
      font-family: 'Abhaya Libre', serif;
      color:#133f2f   
  }

  .detail p {
      margin-top: -1%;
      font-size: 22px ;
      font-family: 'Abhaya Libre', serif;
      color:#133f2f
  }

  .detail strong {
      font-size: 18px ;
      font-family: 'Abhaya Libre', serif;
      color:#d4406a
  }

  .detail h3 {
      font-size: 30px ;
      font-family: 'Abhaya Libre', serif;
      color:#133f2f
  }

  .detail label {
      font-size: 22px ;
      font-family: 'Abhaya Libre', serif;
      color:#133f2f
  }   

  .detail button {
      color: white;
      background-color: #133f2f;
  }

  .detail button:hover{  
      color: #f1a42d
    }
