/*--- MOBILE ---*/
@media (max-width: 600px) {
  .row .col-12 {
    max-height: 550px;
  }

  .div-best > .div-best {
     width: 25%;
     height: 40% 
  }

  .div-best .call h2 {
    font-size: 27px;
  }
  
  .div-best .call p {

    font-size: 18px;

  }
}

.call h2{
  padding-top: 7%;
  font-family: "Druk Wide Web Bold";
  font-weight: bold;
  font-size: 50px;
}

.call p {
  font-family: "Abhaya Libre", serif;
  font-size: 30px;
  padding-bottom: 12%;
}

.bt-title {
  color: #f1a42d;
  height: 57px;
  max-height: 200%;
  font-family: "Abhaya Libre", serif;
  font-size: 50px;
  margin-bottom: -50px;
  display: flex;
  height: 50%;
}

.card-best {
  width: 50px;
  height: auto;
  padding-bottom: 15px;
}

.div-best {
  background-color: #133f2f;
  position: relative;
  top: -6px;
}

.div-best2 .card-body .card-title small {
  color: #f1a42d;
}

.card-text h3 {
  color: #f1a42d;
}

.div-best .card-bestCollor {
  background-color: #133f2f;
  align-items: center;
}
