/*--- MOBILE ---*/
@media (max-width: 600px) {
    #navbarText{
        display: flex;
        margin-top: -50px;
        flex-wrap: nowrap;
    }

    nav img {
        margin-left: 40%;
    }

    nav .nav-link{
        margin-left: 30px;
    }

    button{
        max-width: 20%;
        margin-left: 50%;
    }

    i{
        margin-left: 120%;
        z-index: 1
    }

    .cart-link span{
        left: 71%;
        z-index: 1
    }
  }

/*--- TABLET ---*/
@media only screen and (min-device-width: 600px) and (max-device-width: 1000px) {
    #navbarText{
        display: flex;
        margin-top: -50px;
        flex-wrap: nowrap;
    }
}

/*--- DESKTOP ---*/

/*---BACKGROUND---*/
nav {
    background-color: #133f2f;
    max-height: 90px;
}

#dropdown-basic {
    background-color: #133f2f;
}

/*---ELEMENTS---*/
nav a{
    color: #f1a42d; 
}

nav img {
    max-height: 70px;
    justify-content: center;
    position: relative;
    left: 50%;
    top:5%
    
    
}

/*---DROPDOWN---*/
nav .dropdown-menu {
    background-color: #f1d190;
}

nav .dropdown-menu a{
    background-color: #f1d190;
    color:  #133f2f;
}

i {
    color: #f1a42d; 
}

