/*---BACKGROUND---*/
nav {
    background-color: #133f2f;
}

#dropdown-basic {
    background-color: #133f2f;
}

/*---ELEMENTS---*/
nav a{
    color: #f1a42d; 
}

nav img {
    max-height: 70px;
    justify-content: center;
    margin-left: 20%;
    
}

/*---DROPDOWN---*/
nav .dropdown-menu {
    background-color: #f1d190;
}

nav .dropdown-menu a{
    background-color: #f1d190;
    color:  #133f2f;
}

i {
    color: #f1a42d; 
}

