/*--- MOBILE ---*/
@media (max-width: 600px) {
    #navbarText{
        display: flex;
        margin-top: -50px;
        flex-wrap: nowrap;
    }

    .nav .collapse {
        width: 0;
    }
  
    nav .nav-link {
        position: absolute;
        left: -40px;
        top: 30px
    }

    nav .cart-link {
        position: absolute;
        top: 30%;
        right: 20%;
    }

    nav .logo .navbar-brand img {
        left: 43%;
        top:10%
    }

    nav .d-flex #dropdown-basic img{
        position: absolute;
        top: 5%;
        right: 5%; 
    }

    nav .dropdown-toggle{
        position: relative;
        top: -70%;
        right: -100%; 
    }
  }

  
/*--- TABLET ---*/
@media only screen and (min-device-width: 600px) and (max-device-width: 1000px) {
    #navbarText{
        display: flex;
        margin-top: -50px;
        flex-wrap: nowrap;
    }

    nav .nav-link {
        position: absolute;
        left: 10px;
        top: 30px
    }

    nav .cart-link {
        position: absolute;
        top: 30%;
        right: 20%;
    }

    nav .d-flex #dropdown-basic .rounded-circle{
        position: absolute;
        top: 8%;
        right: 7%; 
    }


    nav .dropdown-toggle{
        position: relative;
        top: -70%;
        right: -60%; 
    }

    

}

/*--- DESKTOP ---*/

nav {
    background-color: #133F2F;
    min-height: 90px;
    max-height: 90px;
}
#dropdown-basic {
    background-color: #133F2F;
}

nav #dropdown-basic img{
    position: absolute;
    top: 8%;
    right: 7%; 
}
/*---ELEMENTS---*/


nav a{
    color: #F1A42D;
    font-family: 'Abhaya Libre', serif;
    font-size: 120%;
}
nav .logo img {
    margin-left: auto;
    max-height: 70px;
    justify-content: center;
    position:absolute;
    left: 47.5%;
    top:10%;
    padding: 0;
}
/*---DROPDOWN---*/
nav .dropdown-menu {
    background-color: #F1D190;
    
}
nav .dropdown-menu a{
    background-color: #F1D190;
    color:  #133F2F;
}
i {
    color: #F1A42D;
}
nav .dropdown-menu  {
    color: #F1A42D;
}
.dropdown-item.active{
    color: #133F2F;
    background-color: #F1A42D;
}
nav .dropdown-menu  a:active{
    color: #133F2F;
    background-color: #F1A42D;
}
a:hover{
    color: white;
}
